---
title: Termine
subtitle: Polyamorie Stammtisch Braunschweig
nometa: true
headless: true
menu: Termine
---

h1 = "Termine" 

p Der Stammtisch findet bisher regelmäßig immer am letzten Mittwoch des Monats statt (außer im Dezember). Beginn ist meistens um 19 Uhr, es wird aber gerade überlegt, demnächst schon um 18:30 zu beginnen - die jeweilige Zeit für einen bestimmten Termin steht auch immer auf der Seite dazu. Auch wenn hier nur ein paar Monate im Voraus angezeigt werden, könnt ihr euch daran orientieren, falls ihr euch schon die Termine für spätere Monate merken wollt. 
p Falls sich mal ein Termin ändert, werden wir das hier auf der Website aktualisieren, also schaut am besten einfach kurz vorher nochmal nach.
   
- events.group_by{|t| 0}.each do |group, event| 
    == eventbox(event)
