---
title: Termine
subtitle: Polyamorie Stammtisch Braunschweig
nometa: true
headless: true
menu: Termine
---

h1 = "Termine" 

p Der Stammtisch findet regelmäßig am letzten Mittwoch des Monats ab 19:30 Uhr statt (außer im Dezember). Zusätzlich treffen wir uns am zweiten Sonntag des Monats ab 15 Uhr, z.B. zu einem Spiele-Nachmittag oder einem Picknick. Die jeweilige Zeit für einen bestimmten Termin steht auch immer auf der Seite dazu. Auch wenn hier nur ein paar Monate im Voraus angezeigt werden, könnt ihr euch daran orientieren, falls ihr euch schon die Termine für spätere Monate merken wollt. 
p Falls sich mal ein Termin ändert, werden wir das hier auf der Website aktualisieren, also schaut am besten einfach kurz vorher nochmal nach.

p
    a href="webcal://poly-bs.de/events.ics" -> Unsere Veranstaltungen als Kalender (iCal) abonnieren

- events.group_by{|t| 0}.each do |group, event| 
    == eventbox(event)